// CSS Reset
@import 'reset';

// Google Font
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

// Import
@import 'variables';
@import 'mixins';
@import 'layout';
@import 'width';
@import 'display';
@import 'position';
@import 'spacing';
@import 'button';
@import 'text';
@import 'images';

// My CSS
header,
footer {
    font-family: $ubuntu;
    color: $white;
}

header {
    background-image: url('../images/bg-pattern-intro-desktop.svg'), linear-gradient(to right, $veryLightRed, $lightRed);
    background-position: -400px center, right;
    border-radius: 0 0 0 100px;
    @include pad {
        background-image: url('../images/bg-pattern-intro-mobile.svg'), linear-gradient($veryLightRed, $lightRed);
        background-position: -350px -270px, bottom;
    }
    h2 {
        font-family: $overpass;
        font-size: 52px;
        font-weight: 600;
        @include pad {
            font-size: 32px;
        }
    }
    h3 {
        font-size: 18px;
    }
}

.logo {
    width: 100px;
    @include pad {
        width: 80px;
    }
}

.menu {
    width: calc(100% - 160px);
    @include pad {
        font-family: $overpass;
        font-weight: 600;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 70px;
        background: $white;
        color: #000;
        border-radius: 5px;
        box-shadow: 0 10px 40px rgba(0, 0, 0, .3);
        > ul {
            border-bottom: 1px solid $veryDarkGrayishBlue;
        }
    }
}

.submenuTitle {
    padding-top: 12px;
    padding-bottom: 12px;
    span:hover {
        text-decoration: underline;
        @include pad {
            text-decoration: none;
            color: $veryDarkGrayishBlue;
        }
    }
}

.submenuTitle-clicked {
    span{
        text-decoration: underline;
        @include pad {
            text-decoration: none;
            color: $veryDarkGrayishBlue;
        }
    }

    .img-arrow {
        transform: rotate(180deg);
    }
}

.submenu {
    position: absolute;
    top: 100%;
    left: -20px;
    background: $white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    @include pad {
        position: static;
        background: #f1f1f1;
        box-shadow: none;
    }
    a {
        width: 150px;
        color: #000;
        padding: 20px;
        @include pad {
            width: 100%;
            color: $veryDarkGrayishBlue;
            padding: 10px;
        }
        &:hover {
            font-weight: 700;
            @include pad {
                font-weight: normal;
            }
        }
    }
}

.feature1,
.feature3 {
    color: $veryDarkGrayishBlue;
    h4 {
        font-size: 26px;
        font-weight: 700;
        color: $veryDarkBlue;
    }
    p {
        line-height: 1.8;
    }
}

.feature1 {
    h3 {
        font-size: 34px;
        font-weight: 700;
        color: $veryDarkBlue;
        @include pad {
            font-size: 26px;
        }
    }
}

.feature2 {
    background-image: url('../images/bg-pattern-circles.svg'), linear-gradient(to right, $veryDarkGrayBlue, $veryDarkDesaturatedBlue);
    background-position: -225px -510px, right;
    background-repeat: no-repeat;
    color: $white;
    border-radius: 0 100px 0 100px;
    @include pad {
        background-position: center -580px, right;
    }
    h3 {
        font-size: 34px;
        font-weight: 700;
    }
    p {
        line-height: 1.8;
    }
}

footer {
    background: $veryDarkBlackBlue;
    border-radius: 0 100px 0 0;
    a {
        display: inline-block;
        color: $grayishBlue;
        &:hover {
            text-decoration: underline;
        }
    }
}

.attribution {
    background: $veryDarkBlackBlue;
    font-size: 11px;
    text-align: center;
    color: $white;
    a {
        display: inline-block;
        color: rgb(240, 252, 74);
        &:hover {
            text-decoration: underline;
        }
    }
}